.header {
    background-color: grey;
}


/* .section-signup {
    display: block;
} */

.hidden {
    display: none;
}

.enter-form {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
}

.main-btns {
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDo-section {
    border: 1px solid black;
}

.label:before {
    /* background-color: white; */
    content: " ";
    display: block;
    /* border-radius: 50%; */
    /* border: 1px solid grey; */
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
}